#json-input {
	width: 100%;
	resize: vertical;
	min-height: 150px;
}

.cell-input-text {
	width: 150px;
	height: 100px;
	resize: none;
}

.cell-input-text:focus {
	resize: both;
}

#builder-controls {
	margin: auto;
	width: 60%;
	display: flex;
	justify-content: space-around;
	padding-bottom: 10px;
}

table {
	border: 1px solid black;
}

td {
	min-width: 10px;
	width: fit-content;
	min-height: 10px;
	height: fit-content;
}

pre {
	background-color: #f8f8f8;
}