.blog-preview-date {
	font-style: italic;
}

.blog-preview {
	border: 1px dashed black;
	margin-bottom: 25px;
	padding: 5px;

	> *:first-child {
		margin-top: 0px
	}

	> *:last-child {
		margin-bottom: 0px;
	}
}

.blog-content h1,
.blog-preview h2,
.blog-preview h3 {
	margin-bottom: 0px;
}

.blog-content img {
	width: 50%;
	display: block;
	margin: auto;
}

.blog-page--sidebar-image p:has(img) {
	width: 40%;
	float: right;
}

.blog-page--sidebar-image img {
	width: fit-content;
}

.blog-content .pygments-highlighter pre {
	background-color: #f8f8f8;
}

.blog-content .pygments-highlighter-failed {
	color: red;
}

.blog-content .footnotes {
	p {
		font-size: smaller;
		display: inline;
	}

	ol {
		padding-inline-start: 0px;
	}

	li {
		list-style-position: inside;
	}
}

.blog-content code {
	white-space: nowrap;
}

.blog-page--unhighlighted-block pre:not(.pygments-highlighter pre) {
	/* Multi-line blocks */
	background-color: #f8f8f8;

	code {
		white-space: pre;
	}
}

.blog-page--has-toc.content-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 60% 20%;
}

.blog-toc {
	height: fit-content;
	position: sticky;
	top: 50px;
	background-color: #f6f6f6;
	max-width: fit-content;
	padding: 10px;
	margin-right: 10px;

	.table-of-contents {
		padding-left: 0px;
		list-style-position: inside;

		/* Nested */
		ol {
			padding-inline-start: 1em;
		}
	}
}

@media (max-width: 1200px) {
	.blog-page--has-toc.content-wrapper {
		grid-template-columns: 20% 70% 10%;
	}
}

@media (max-width: 900px) {
	.blog-page--has-toc.content-wrapper {
		width: 80%;
		display: block;
	}
	.blog-toc {
		position: relative;
		top: unset;
		margin-top: 20px;
	}
	.blog-page--sidebar-image p:has(img) {
		float: unset;
		margin: auto;
		max-width: 100%;
	}
	.blog-page--sidebar-image img {
		max-width: 100%;
	}
}
