name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  PHP_VERSION: 8.3

jobs:
  lint:
    name: Lint with parallel-lint and PHPCS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          tools: composer

      - name: Install composer dependencies
        run: composer install

      - name: Run parallel-lint
        run: vendor/bin/parallel-lint . --exclude vendor

      - name: Run phpcs
        run: vendor/bin/phpcs -p -s

  test:
    name: "PHPUnit"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          ini-values: zend.exception_ignore_args=Off,zend.exception_string_param_max_len=15
          tools: composer

      - name: Install composer dependencies
        run: composer install

      - name: Install python
        run: sudo apt-get install -y python3
      
      - name: Ensure python versions
        run: sudo apt-get satisfy "python3 (>= 3.11, <= 3.12)"

      - name: Install pip
        run: sudo apt-get install -y python3-pip

      - name: Install pygments
        run: pip install Pygments==2.19.1 --break-system-packages

      - name: Run phpunit
        run: vendor/bin/phpunit
